Button {
    -fx-background-color: rgb(234, 176, 69);
}

GridPane {
    -fx-background-color: rgb(60, 60, 60);
}

ScrollPane {
    -fx-background: rgb(60, 60, 60);
    -fx-border-color: rgb(60, 60, 60);
}

Label {
    -fx-text-fill: white;
}

VBox {
    -fx-background: rgb(60, 60, 60);
}

CheckBox {
    -fx-text-fill: white;
}

TextField {
    -fx-opacity: 0.15;
    -fx-text-fill: blue;
}